<html>
    <head>
        <title>PolitiMatch</title>
    </head>

    <body>
        <nav id="nav" class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i id="icon" class="universal access icon"></i>PolitiMatch</div>
                <a href="/profile" class="item">Find Match Percent</a>
                <a href="/reps" class="item">Show My Representatives</a>
                <a href="/reps/new" class="item">Add a Representative</a>
                <a href="/logout" id="logout-btn" class="item">Logout</a>
            </div>
        </nav>
   