<body class="indexPg">
    <div class="container index">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> 
                <span class="pol" style="color:red">Politi</span>
                {{!-- <span class="itiM" style="color: rgb(199, 190, 190)">iti</span> --}}
                <span class="atch" style="color: blue">Match</span>
            </h1>
            
            <h4>Find your political match today!</h4>
            <p>Login or Signup:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        </div>
    </div>
</body>




