


{{user.state}}

<form class="form" method="post" action="state-select">
            <select name="states" class="chosen-select">
                <option>What state do you live in?</option>
                <option value="AL">Alabama</option>
                <option value="TX">Texas</option>
                <option value="MA">Massachusetts</option>
            </select>
            <input type="submit"></input>
</form>