* {
    box-sizing: border-box;
}

#match-btn {
    text-transform: capitalize;
    margin-top: 5px;
}

#newDiv {
    margin-top: 5px;
}

ul.bills-ul {
    position: relative;
    /* border: 1px solid black; */
}

.show-question {
    display: none;
    font-size: 1.07142857rem;
    margin: calc(2rem - .14285714em) 0 1rem;
    text-align: -webkit-center;
    font-size: 1.07142857rem;
    font-weight: 700;
}



li.js-bill {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
    border: 1px solid #d4d4d5;
    padding: 15px;
    margin-top: 15px;
    border-radius: .28571429rem .28571429rem 0 0;
    border-top-left-radius: 0.285714rem;
    border-top-right-radius: 0.285714rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

li.js-bill.show {
    opacity: 1;
    pointer-events: inherit;
}

#icon {
    font-size: 2em;
}

#hello {
    margin-top: 2.0em;
}

#show-form {
    display: inline;
}

#logout-btn {
    text-align: right;
}

.indexPg {
    background-image: url('https://pbs.twimg.com/profile_images/822251886988267520/28GpoRsy_400x400.jpg');
    background-size: cover;
}

.index {
    opacity: 0.8;
}


#show, #percent, #add {
    display: none;
}

#header-name {
    display: none; 
}

#container-id {
    padding: 0;
    margin-top: 2.0em; 
}

/* For mobile phone*/
#mapdiv {
    width: 400px;
    height: 300px;
}

/* For desktop: */
@media only screen and (min-width: 768px){

    #header {
         /* background-color: red; */
    }

    #logout, #add, #show, #percent {
        display: -webkit-box;
        /* color: aqua; */
    }

    #eye, #search, #plus {
        display: none;
    } 

    #mapdiv {

        width: 1000px;
        height: 450px; 
    
        /* Default: 
        width: 1000px;
        height: 450px; */
    }

}
